<!DOCTYPE html>
<html>
<title>Home of HoMMB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/assets/pics/<%=faction%>_townscreen_1080p.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <a href="/" style="text-decoration : none">Heroes of Might and Magic Discord RPG Bot</a>
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top"><%=faction%></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">description</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Fork me on <a href="https://github.com/nazimboudeffa/discord-hommb" target="_blank">GitHub</a>
  </div>
</div>

</body>
</html>
