<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hero</title>
  </head>
  <body>
    <h1>Mage de Guerre</h1>
    <p>Les Mages de Guerre sont les maîtres de la magie destructrice. Experts de l'Air et du Feu, ils ont parfois même recours à la Magie des Ténèbres. Au besoin, ils font des explorateurs et des commandants à peu près acceptables.</p>
    <img src="/assets/heroes/PIC_hero_artwork_academy_male_magic_small.jpg" alt="">
  </body>
</html>
