<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hero</title>
  </head>
  <body>
    <h1>Classe de Magie</h1>
    <img src="/assets/heroes/PIC_hero_artwork_academy_male_magic_small.jpg" alt="">
  </body>
</html>
