<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hero</title>
  </head>
  <body>
    <h1>Classe de <%=hero.classe%></h1>
    <img src="/assets/heroes/PIC_hero_artwork_<%=hero.faction%>_male_<%=hero.classe%>_small.jpg" alt="">
  </body>
</html>
