<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hero</title>
  </head>
  <body>
    <img src="/assets/academy/heros/academy-battlemage-theodorus.png" alt="">
  </body>
</html>
