</html>
<!DOCTYPE html>
<html>
<title>Home of HoMMB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/assets/ashan.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Heroes of Might and Magic Discord RPG Bot
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"><a href="https://discord.com/api/oauth2/authorize?client_id=712144730556989451&permissions=0&scope=bot">Test me on Your Discord</a></p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Fork me on <a href="https://github.com/nazimboudeffa/discord-hommb" target="_blank">GitHub</a>
  </div>
</div>

</body>
</html>
